@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

html {
	margin: 0;
	padding: 0;
	font-size: 16px;
  }

  body {
	padding: 3.75rem;
	background-color: transparent;
	position: relative;
	overflow-x: hidden;
	max-width: 100%;
	height: max-content;
  }

  body::before {
	content: "";
	margin: 3.75rem;
	position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
	background-color: #F3E2D3;
	box-shadow: 0px 2px 6px black;
	z-index: -1;
  }
  .header {
	padding: 3.4375rem;
	margin-bottom: 0;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 97%;
	margin-top: 1rem;
  }
  .header::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 3.75rem;
	margin-top: -1rem;
	margin-bottom: 2rem;
	max-width: 1785px;
	width: 100%;
	height: 120%;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	align-items: center;
  }
  .header__body{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	height: 80px;
  }
  .header__menu {
	display: flex;
  }
  
  .menu {
	display: flex;
	max-width: 100%;
    overflow-x: auto;
  }
  
  .menu__item {
	margin-right: 5.0625rem;
	padding-top: 10px;
  }
  .menu__item.active {
	position: relative;
	background-color: #d6a2774f;
	border-radius: 40px;
	height: 50px;
	width: 7rem;
	text-align: center;
  }
  .menu__item:last-child{
	margin: 0;
  }
  .header__logo img{
	width: 10.625rem;
	max-width: 100%; 
	object-fit: cover;
	display: block;
  }
  .header__menu .menu a{
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 1.75rem;
	color: #D7A580;
  }
  .about-wrapper {
    display: flex;
    flex-direction: row;
	padding-top: 10rem;
  }

  .about-image {
	width: 50rem;
	padding-left: 3.4375rem;
	margin-right: 8rem;
	max-width: 100%;
	object-fit: cover;
  }

.about-text{
	padding: 3.4375rem;
	padding-top: 5rem;
}
  .about-text h2{
    font-family: 'Libre Franklin', sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	color: #E2B088;
	margin-bottom: 5rem;
  }
  .about-text p{
    font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	color: #E4B793;
	margin-bottom: 3rem;
  }
  .about-text p:last-child{
	margin-bottom: 0;
  }

  .services_text-block {
	text-align: center;
	max-width: fit-content;
	margin: 0 auto;
	margin-bottom: 5rem;
  }
  
  .services_text-block h2 {
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-size: 3rem;
	text-transform: uppercase;
	color: #D7A580;
	margin-bottom: 1rem;
  }
  
  .services_text-block p {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 1.625rem;
	color: #E4B793;
	max-width: 25rem;
  }
  .services_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.services_list {
	width: 40%;
	margin-right: 20px;
	font-size: 24px;
}
.services_list-item {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}
.services_list-item img {
	margin-right: 1rem;
	width: 6.25rem;
	max-width: 100%;
	object-fit: cover;
}
.services_list-item p{
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-size: 2rem;
	color: #E4B793;
}
.services_image {
	width: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: right;
}
.services_image img {
	width: 60.25rem;
	max-width: 100%;
	object-fit: cover;
	display: block;
}
.reg {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .left-block {
	display: flex;
	flex-direction: column;
	width: 40%;
	padding: 3.5rem;
	margin-left: 20px;
  }
  
  .right-align {
	text-align: right;
	color: #D7A580;
	font-family: 'Exo', sans-serif;
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: 5rem;
	letter-spacing: 0.3rem;
	line-height: 1.2;
  }
  
  .left-block input {
	margin-top: 10px;
	padding: 5px;
  }
  
  .register-btn {
	padding: 20px 40px;
	margin: 4rem auto;
	font-size: 1.375rem;
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	border-radius: 20px;
	background-color: #efd6c2;
	text-transform: uppercase;
	border: 5px solid #E4B793;
	color: #E4B793;
	letter-spacing: 5px;
  }
  
  .circles {
	display: flex;
	justify-content: space-between;
	margin-top: -1.5rem;
	margin-left: auto;
	margin-right: auto;
  }
  
  .circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: gray;
	margin-right: 1rem;
	background-color: #F0D6C2;
	border: 2px solid #E4B793;
	margin-bottom: 5rem;
  }
  .circle:last-child{
	margin-right: 0;
  }
  .circle.active{
	background-color: #E4B793;
  }
  
  .right-block img {
	max-width: 100%;
	width: 60.25rem;
	object-fit: cover;
	display: block;
  }
  .reg__text-first{
	font-size: 1.5rem;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	color: #E4B793;
	margin-bottom: 2rem;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
  }
  .reg__text-second{
	font-size: 1.25rem;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	color: #E4B793;
	margin-bottom: 2rem;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
  }
  .reg_input-text {
	background-color: inherit;
	border: none;
	border-bottom: 2px solid #D6A177;
	font-family: 'Anaheim', sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	color: #E4B793;
	margin-bottom: 1rem;
  }
  .reg_input-text::placeholder {
	color: #E4B793;
  }
  .footer{
	text-align: center;
  }
  .footer a{
	margin-right: 1rem;
  }
  .footer a:last-child{
	margin-right: 0;
  }
  .footer a i{
	font-size: 3.5rem;
	color: #E4B793;
  }